services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file: 
      - .env
    ports:
      - "80:8000"
  
  nginx:
    image: nginx:1.29
    container_name: nginx-proxy
    ports:
      - "70:7000"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app